mixin footer(options)
    footer.footer
        .container
            .footer__inner
                .footer__nav
                    .footer__nav__inner
                        .footer__menu
                            .footer__menu__h Каталог
                            ul.footer__menu__list
                                li.footer__menu__list__item
                                    a(href="catalog-nekruti.html") Ленивый шашлычник
                                li.footer__menu__list__item
                                    a(href="catalog-garlic.html") Черный чеснок
                                li.footer__menu__list__item
                                    a(href="catalog-pastila.html") Пастила
                        .footer__menu
                            .footer__menu__h Информация
                            ul.footer__menu__list
                                li.footer__menu__list__item
                                    a(href="#") О магазине
                                li.footer__menu__list__item
                                    a(href="#") Оплата и доставка
                                li.footer__menu__list__item
                                    a(href="contacts") Контакты
                .footer__info
                    ul.footer__contacts
                        li.footer__contacts__item
                            i.icon-location
                            | Адрес: 410012 Россия, Саратов, ул. Краевая, 85
                        li.footer__contacts__item
                            i.icon-phone
                            | Телефон: 
                            a(href="tel:+78452123456") +7 8452 123-456
                        li.footer__contacts__item
                            i.icon-mail
                            | E-mail: 
                            a(href="mailto:info@madein64.ru") info@madein64.ru
                        li.footer__contacts__item
                            i.icon-instagram
                            | Instagram: 
                            a(href="https://www.instagram.com/volga_pastila/") @volga_pastila
                    ul.footer__docs
                        li.footer__docs__item
                            a(href="docs/doc") Публичный договор-оферта 
                        li.footer__docs__item
                            a(href="docs/doc") Обработка персональных данных 
                    ul.footer__credits
                        li.footer__credits__item
                            | ИП Родионов А.Г. © 2019
                        li.footer__credits__item
                            a(href="mailto:kirusanov@gmail.com" title="Создание и поддержка сайта") Kirill A.
