extends layout
include mixins/content-aside__menu

block content
    block aside-crumbs
    .container.content-aside
        .content-aside__aside 
            block aside-menu
        .content-aside__content
            block aside-content
        