.page404 {
    &__h {
        font-family: $font-family-alt;
        color: $color-heading;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.2;
    }
    &__text {
        margin-bottom: 1rem;
    }
    &__img {
        display: block;
        margin: 2rem auto 0;
        @include media-breakpoint-up(md) {
            margin-top: 0;
            margin-right: 3rem;
        }
    }
    &__row {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin: 0 auto;
        @include media-breakpoint-up(md) {
            flex-direction: row;
            text-align: left;
            align-items: center;
        }
        @include media-breakpoint-up(lg) {
            width: 66%;
        }
    }
}