.checkbox {
    $root: &;
    display: block;
    text-align: left;

    &._sm {
        font-size: 70%;
    }

    &__text {
        cursor: pointer;
        padding-left: 1.5rem;
        display: inline-block;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: .2rem;
            width: 1rem;
            height: 1rem;
            border-radius: .2rem;
            background-color: $color-white;
            border: 1px solid $color-gray-dark;
            #{$root}._sm & {
                top: 0;
            }
        }

        &:after {
            font-family: fontello;
            font-size: .9rem;
            content: '\e804';
            color: $color-primary;
            position: absolute;
            left: .2rem;
            top: .2rem;
            opacity: 0;
            @include transition(opacity);
            #{$root}._sm & {
                top: 0;
            }
        }

        &__inner {
            color: $color-primary;
            @include transition(color);

            #{$root}._black & {
                color: $color-text;
            }
        }

        @include hover-desktop {
            #{$root}__text__inner {
                color: $color-heading;
            }
        }

    }

    input {
        display: none !important;

        &:checked+#{$root}__text:after {
            opacity: 1;
        }
    }
}
