/*
form inputs
*/
.input-group {
    $root: &;
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }
    input, textarea {
        display: block;
        border: 1px solid $color-gray-dark;
        padding: 1rem;
        width: 100%;
        @include transition(border-color);
        &:focus {
            border-color: $color-base;
        }
        &:disabled {
            background-color: $color-gray;
            cursor: default;
        }
    }
    textarea {
        height: 7rem;
    }
    &__msg {
        display: block;
        font-size: .8rem;
        margin-top: .5rem;
        @include transition(color);
        a {
            @include link-in-text;
        }
    }
    &._required {
        label:after {
            content: '*';
            color: $color-warning;
        }
    }
    &._error {
        input, textarea {
            border-color: $color-danger;
        }
        #{$root}__msg {
            color: $color-danger;
        }
    }
    &._checkbox {
        margin-bottom: .5;
        label {
            margin-right: 2rem;
        }
    }
    &._loading {
        &:after {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            right: 10px;
            top: 3rem;
            background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///x0NC8jFxFdLSh0NC3NpaJCIh56XliH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
        }
    }
}
