extends _includes/layout
include _includes/mixins/share

block content

    +crumbs()(
        crumbs = {
                'Главная': '/',
                'Ленивый шашлычник': 'vendor.html',
                'Блюда на мангале разных народов мира': '',
            }
    )
    .container
        .article
            article.article__content

                h1.article__h Блюда на мангале разных народов мира
                p.article__lead.
                    Намечается пикник? Конечно, в меню будет традиционный шашлык из любимого мяса. Конечно, несколько салатов и ассорти из овощей. Но что если хочется разнообразить привычный набор блюд чем-то новым? В решении этой задачи вам могут помочь кулинарные традиции разных народов мира. Предлагаем вам отправиться в гастрономическое путешествие и узнать, что же готовят в других странах, когда собираются у костра.

                .rte
                    <h3>Грузия: пирожки и&nbsp;сосиски</h3>
                    <p>Грузины, как и&nbsp;другие кавказские народы, очень любят шашлык (<strong>мцвади</strong>). Причем делают его, как правило, именно без маринада&nbsp;&mdash; в&nbsp;собственном соку. Мясо для этого блюда режется на&nbsp;среднего размера куски и&nbsp;тщательно вымешивается руками до&nbsp;тех пор, пока не&nbsp;станет липким. Далее мцвади жарится на&nbsp;углях из&nbsp;высохших веток виноградной лозы, а&nbsp;в&nbsp;процессе повар посыпает его специями и&nbsp;приправами&nbsp;&mdash; чтобы образовалась пряная корочка, сохраняющая мягкость и&nbsp;сочность каждого кусочка.</p>
                    <p><picture> <source srcset="assets/img/articles/hachapuri_mangal.webp" type="image/webp" /> <source srcset="assets/img/articles/hachapuri_mangal_o.jpg" type="image/jpeg" /> <img src="assets/img/articles/hachapuri_mangal_o.jpg" alt="хачапури с&nbsp;сыром на&nbsp;мангале" /> </picture></p>
                    <p>Еще грузины очень любят <strong>хачапури с&nbsp;сыром на&nbsp;мангале</strong>. Готовить его несложно, а&nbsp;результат станет приятной неожиданностью для всех собравшихся. Вам понадобится: слоеное бездрожжевое тесто&nbsp;&mdash; 1&nbsp;упаковка (500&nbsp;грамм), сыр сулугуни&nbsp;&mdash; 500&nbsp;грамм, соль по&nbsp;вкусу, сливочное масло&nbsp;&mdash; 50&nbsp;грамм.</p>
                    <p>Разморозьте тесто, <a href="#">раскатайте его потоньше</a>, разрежьте на&nbsp;средней ширины ленты. Натрите на&nbsp;крупной терке сыр сулугуни (или равную смесь сулугуни и&nbsp;адыгейского сыра), смешайте с&nbsp;топленым сливочным маслом и&nbsp;облепите получившейся смесью небольшой деревянный шампур (на&nbsp;манер люля-кебаб). Сверху обмотайте начинку лентой теста, сделайте несколько проколов в&nbsp;разных местах и&nbsp;обжаривайте на&nbsp;углях около 5-7 минут до&nbsp;равномерной корочки.</p>
                    <h3>Чехия: закрученный сладкий хлеб</h3>
                    <p><picture> <source srcset="assets/img/articles/prjekrasnaja-zlata-praga.webp" type="image/webp" /> <source srcset="assets/img/articles/prjekrasnaja-zlata-praga_o.jpg" type="image/jpeg" /> <img src="assets/img/articles/prjekrasnaja-zlata-praga_o.jpg" alt="трдельники" /> </picture></p>
                    <p>Едва&nbsp;ли не&nbsp;главным кулинарным символом этой страны является очень калорийная сладкая выпечка&nbsp;&mdash; <strong>трдельники</strong> (в&nbsp;буквальном переводе&nbsp;&mdash; &laquo;дураки&raquo;). Делают ее&nbsp;из&nbsp;сдобного дрожжевого теста, которое наматывают на&nbsp;&laquo;стальную скалку&raquo; и&nbsp;обжаривают на&nbsp;мангале или в&nbsp;духовке. Испеченный &laquo;завиток&raquo; обычно посыпают сахаром, кокосовой стружкой, маком, измельченными орехами или&nbsp;же начиняют сладкими наполнителями. Чехи готовят их&nbsp;на&nbsp;Рождество, в&nbsp;Щедрый день, в&nbsp;День святого Георгия Победоносца, угощают ими малышей и&nbsp;беременных на&nbsp;Крещение. По&nbsp;большому счету ни&nbsp;одно массовое народное гулянье в&nbsp;этой стране не&nbsp;обходится без прилавков со&nbsp;сдобными трубочками. Примечательно, что однажды здесь испекли огромный трдельник, масштаб которого позволил внести его в&nbsp;Книгу рекордов Гиннеса. И&nbsp;каждый год чехи пекут новых гигантов, подвешивают их&nbsp;над Староместской площадью, раз за&nbsp;разом побивая свой собственный рекорд.</p>
                    <blockquote>Кстати! У&nbsp;компании &laquo;Ленивый шашлычник&raquo; относительно недавно появилась новинка&nbsp;&mdash; <a href="#">валик для гриль-булочки</a>. Вы&nbsp;можете готовить на&nbsp;нем чешские трдельники для детей или просто выпекать трубочки несладкого хлеба к&nbsp;шашлыку. Готовые &laquo;завитки&raquo; можно начинить любым салатом, сыром, разнообразными кулинарными смесями и&nbsp;подавать как великолепную закуску. Этот простой, но&nbsp;в&nbsp;то&nbsp;же время оригинальный &laquo;шампур&raquo; навсегда избавит вас от&nbsp;вопроса &laquo;Что&nbsp;же такого необычного приготовить в&nbsp;дополнение к&nbsp;шашлыку?&raquo;</blockquote>
                    <p>Выпечку, похожую на&nbsp;трдельники, из&nbsp;сладкого и&nbsp;несладкого теста готовят и&nbsp;в&nbsp;других странах, например, в&nbsp;Венгрии, Польше, Румынии и&nbsp;Словакии, только называют ее&nbsp;несколько иначе. А&nbsp;в&nbsp;Словакии с&nbsp;2007 года даже проходит ежегодный &laquo;Трдлофест&raquo;, во&nbsp;время которого принято поедать сладкие трубочки, петь, танцевать и&nbsp;всячески веселиться.</p>
                    <ul>
                        <li>Маркированный список</li>
                        <li>Маркированный список</li>
                        <li>Выпечку, похожую на&nbsp;трдельники, из&nbsp;сладкого и&nbsp;несладкого теста готовят и&nbsp;в&nbsp;других странах, например, в&nbsp;Венгрии, Польше, Румынии и&nbsp;Словакии, только называют ее&nbsp;несколько иначе. А&nbsp;в&nbsp;Словакии с&nbsp;2007 года даже проходит ежегодный &laquo;Трдлофест&raquo;, во&nbsp;время которого принято поедать сладкие трубочки, петь, танцевать и&nbsp;всячески веселиться.</li>
                        <li>Маркированный список</li>
                    </ul>
                    <h3>Армения: какой шашлык без овощей?</h3>
                    <p><picture> <source srcset="assets/img/articles/beaa689c.webp" type="image/webp" /> <source srcset="assets/img/articles/beaa689c_o.jpg" type="image/jpeg" /> <img src="assets/img/articles/beaa689c_o" alt="шашлык с овощами" /> </picture></p>
                    <p>В&nbsp;этой стране шашлык зовется <strong>&laquo;хоровац&raquo;</strong>. Однако этим словом обозначается не&nbsp;только мясо, но&nbsp;и&nbsp;подаваемый с&nbsp;ним салат из&nbsp;запеченных овощей. Если хотите приготовить это блюдо, то&nbsp;замаринуйте свинину или баранину (например, в&nbsp;уксусе, кефире, гранатовом соке, коньяке или вине), а&nbsp;в&nbsp;качестве вкусного и&nbsp;полезного дополнения приготовьте ассорти из&nbsp;овощей.</p>
                    <ol>
                        <li>Нумерованный список</li>
                        <li>Нумерованный список</li>
                        <li>Выпечку, похожую на&nbsp;трдельники, из&nbsp;сладкого и&nbsp;несладкого теста готовят и&nbsp;в&nbsp;других странах, например, в&nbsp;Венгрии, Польше, Румынии и&nbsp;Словакии, только называют ее&nbsp;несколько иначе. А&nbsp;в&nbsp;Словакии с&nbsp;2007 года даже проходит ежегодный &laquo;Трдлофест&raquo;, во&nbsp;время которого принято поедать сладкие трубочки, петь, танцевать и&nbsp;всячески веселиться.</li>
                        <li>Нумерованный список</li>
                    </ol>
                    <p>Вам понадобится: равное количество помидоров, баклажанов, сладких перцев, репчатого лука, а&nbsp;также 1&nbsp;лимон, зелень, соль, перец и&nbsp;растительное масло по&nbsp;вкусу. Подготовьте овощи: лук освободите от&nbsp;шелухи, помидоры, перцы и&nbsp;баклажаны вымойте. Выложите все это &laquo;разноцветье&raquo; на&nbsp;решетку и&nbsp;обжарьте на&nbsp;углях до&nbsp;черноты по&nbsp;3-5 минут с&nbsp;каждой стороны. Снимите овощи с&nbsp;решетки, обдайте холодной водой и&nbsp;снимите обгоревшую кожицу, а&nbsp;также удалите хвостики баклажанов и&nbsp;сердцевины перцев. Нарежьте крупными кусками, полейте лимонным соком, посыпьте зеленью укропа, кинзы и&nbsp;базилика, а&nbsp;также специями и&nbsp;перемешайте. Традиционный армянский хоровац готов.</p>
                p.article__src Источник:
                    a(href="//nekruti.com") nekruti.com

            aside.article__aside
                .article__aside__sticky
                    .article__aside__section
                        h5.article__aside__h Расскажите друзьям
                        +share
                    .article__aside__section
                        h5.article__aside__h Рекомендуем
                        +product-item(
                            title='Шампуры-самокруты МВШ-5'
                            price='3500 ₽'
                            desc='Компактный набор из пяти шампуров. Идеален для пикника в небольшой компании.'
                            src='assets/img/products/mvsh5_1_sm.jpg'
                            categories=['Шампуры-самокруты', 'Категория']
                        )
